.container {
  min-height: 100vh;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
}

.footer a {
  min-height: 70px;
  height: 80px;
  border-top: 1px solid #eaeaea50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1em;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem 2.5rem;
  text-align: center;
  background-color: #eee;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.card:hover,
.card:focus,
.card:active {
  background-color: rgb(235,144,63);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

a.card {
  line-height: 12px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
